*.o
.deps
.dirstamp
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/hplisten
/hplot
/hprologix
/hptalk
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/test-driver
/ylwrap
